.g-list-reset {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.g-link-reset {
  text-decoration: none;
  color: inherit;

  /* use `unset` if supported */
  color: unset; /* stylelint-disable-line declaration-block-no-duplicate-properties */
}
